* {
  box-sizing: border-box; /* may not be useful --> Boostrap is supposed to take care of by default (border-box instead of content-box) */
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: "Oxygen", sans-serif;
}

/* ********** BEGINNING OF HEADER ********** */
#header-nav {
  background-color: #f6b319;
  border: 0;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

#logo-img {
  background: url("../images/restaurant-logo_large.png") no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}

.navbar-brand a:hover, .navbar-brand a:focus { /* pas de souligné sous nom resto */
  text-decoration: none;
}

.navbar-brand p { /* Kosher certified */
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 15px;
}

.navbar-brand p span { /* Kosher star-k-logo */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span { /* taille des glyph icons */
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}

#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}

#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* ********** END OF HEADER ********** */




/* ********** BEGIN MAIN CONTENT OF PAGE ********** */
/* Stylisation des images Jumbotron pour toutes les tailles d'écran */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

/* Stylisation des menu tiles */
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative; /* pour pouvoir placer les "noms de ces tiles en absolute tout en bas de chaque tile */
  border: 2px solid #3F0C1F;
  overflow: hidden; /* surtout pour empêcher la map de déborder */
}

/* contour quand survol avec la souris */
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/* Placement des images dans les tiles (menu & specials) */
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

/* Stylisation des intitulés des tiles, en bas, au-dessus de l'image
et sur fond translucide grisé */
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* ****** BEGIN FOOTER ****** */
.panel-footer { /* override this Bootstrap class to match our design */
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #address {
  line-height: 2;
}

#hours > span, #address > span {
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* ******* END FOOTER ******* */
/* *********** END MAIN CONTENT OF PAGE *********** */









/* ********* BEGIN page MENU CATEGORIES ********* */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden; /* histoire d'éviter d'éventuels débordements d'images ou autres */
  width: 200px;   /* on met width et height avec ces valeurs car ce sont */
  height: 200px;  /* celles qu'on a appliqué à chaque image de catégorie */
  margin: 0 auto 15px; /* mettre auto pour left et right... vu qu'on a fixé width et height, cela va centrer l'élément dans son contenant */
}

/* position du titre de catégorie en bas, en absolute par rapport au category-tile ci-dessus, qui est en position relative */
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div { /* target the next sibling of the same parent */
  margin-bottom: 50px; /* pour séparer la mention sous le titre de l'ensemble des tiles */
}
/* ********** END page MENU CATEGORIES ********** */









/* ******** BEGIN page SINGLE CATEGORIES ******** */
.menu-item-tile {
  margin-bottom: 25px; /* force espace en dessous pour séparer de la ligne suivante */
}
 
.menu-item-tile hr {
  width: 80%; /* le HR qui va séparer chaque menu en petite taille quand all stacked... HR qui ne sera visible que dans cet affichage... comme indiqué dans le fichier «single-category.html» */
}

.menu-item-tile .menu-item-price { /* positionnement du prix en bas à droite */
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;    /* obligé d'utiliser cela car quand on positionne le code */
  margin-right: -15px;  /* menu (see below) alors le prix descend un peu. Ainsi il remonte */
}

.menu-item-tile .menu-item-price span {
  font-size: .6em; /* la quantité (pint ; quart) est en police plus petite */
}

.menu-item-photo {   /* stylisation des photos */
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px; /* pour matcher la taille des photos telles que définie dans le html */
}

.menu-item-photo div {  /* positionnement du code menu en bas à droite sur la photo */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
  opacity: .8;
}

.menu-item-description {
  padding-right: 30px; /* permet de mieux séparer chaque description de la photo qui est à sa droite... ou de l'éloigner du bord droit, si c'est celle de droite */
}

h3.menu-item-title {
  margin: 0 0 10px; /* supprime la margin-top héritée, supprime à droite et à gauche aussi et met 10px en margin-bottom:  */
}

.menu-item-details {
  font-size: .9em;
  font-style: italic;
}


/*************************************************************************************************/
/* Gestion du cas où texte de description assez grand pour déborder sur l'élément juste en dessous.

Va falloir utiliser un "clear" probablement --> voir doc Bootstrap sur le "Grid system" à la
partie "Responsive column reset". Il y est indiqué d'ajouter une div spéciale qui ne sera PAS
visible en "mobile view" (XS) puisqu'à ce mode le problème n'a pas lieu (tout est stacké)...
Il s'agit donc d'ajouter la div
              «« <div class="clearfix visible-lg-block visible-md-block"> »»
après chaque deuxième div de notre liste. Sachant que, ici, cette div est "modifiée" pour ne
s'appliquer qu'aux mode LG et MD puisque c'est dans ces deux modes (pas le XS) que le soucis
apparaît */
/*************************************************************************************************/

/* ********* END page SINGLE CATEGORIES ********* */









/********************************/
/*    MEDIA QUERIES SECTION     */
/********************************/

/* NB : sizes follow Boostrap guidelines */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url("../images/jumbotron_1200.jpg") no-repeat;
    height: 675px; /* c'est la hauteur de l'image - on doit l'indiquer car une image de background n'affecte pas la taille de son contenant */
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Make logo less large to avoid conflicts
     between the two main DIVs of the header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  /* gestion de l'image Jumbotron à cette taille d'écran */
  .container .jumbotron {
    background: url(../images/jumbotron_992.jpg) no-repeat;
    height: 558px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url(../images/jumbotron_768.jpg) no-repeat;
    height: 432px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Deal with height of header and branding within */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  .navbar-brand p { /* Kosher certified indication - taille légèrement inf */
    font-size: .6em;
    margin-top: 12px;
  }

  .navbar-brand p img { /* Kosher star-k-logo */
    height: 20px;
  }

  #collapsable-nav a { /* Text size dans (collapsed) menu */
    font-size: 1.2em;
  }

  #collapsable-nav a span { /* Glyph size dans (collapsed) menu 
    et vu que sa taille est héritée de celle du <a> du <nav> qui,
    ci-dessus [collapsable-nav a] est à 1.2em, en mettant ce 1em,
    on aura in fine la même taille, soit 1em fois 1.2em = 1.2em */
    font-size: 1em;
    margin-right: 5px; /* pour séparer le glyph du texte */
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  } 

  /* Stylisation de l'image "jumbotron" à cette taille */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  /* Stylisation des menu et special tiles afin qu'ils ne soient pas dans un cadre qu'ils ne remplissent pas complètement */
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  /* Problème : trop large pour de très petits écran, tel que iPhone 4
  donc on va devoir créer un media query spécifique pour ce cas --> see below */

  /* Stylisation du footer pour cette taille d'écran */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center; /* au lieu d'être calé à gauche pour les écrans plus grands */
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }

  .panel-footer section hr {
    width: 50%; /* pour ne pas que la ligne ne fasse toute la largeur de la page */
  }

  /* Stylisation des single menu items (photos + descriptions) pour les centrer à cette taille d'écran, sinon c'est le souk ... et tout est aligné à droite à cause de la classe .menu-item-photo qui stylise ces éléments et qui a une margin-right à -15px et une margin-left à auto ... si on met la margin-right à auto ça va centrer */
  .menu-item-photo {
    margin-right: auto;
  }
   
  .menu-item-tile .menu-item-price {
    text-align: center; /* va centrer le prix qui était calé à droite, lui aussi */
  }
  
  .menu-item-description {
    text-align: center; /* va centrer la description */
  }
}


@media (max-width: 479px) {
/* la width est choisie en fonction de l'apparence du nom du restaurant que l'on ne veut pas trop petit et sutout qu'il occupe presque toute la largeur */

  /* Header */
  .navbar-brand h1 { /* Restaurant name a little bit bigger*/
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile { /* Tile a little less large */
    width: 280px;
    margin: 0 auto 15px;
  }

  /* Stylisation des tiles de catégories de menus afin qu'ils se stackent les uns au-dessus des autres à cette taille d'écran */
  /* Les "données" indiquées sont récupérées du fichier Bootstrap.css, histoire de mimer ce qu'il se passe pour col-xs-12 par exemple... A noter que le float et le width étaient à des endroits différents du reste ... on a, ici, tout regroupé ensemble */
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}

/********************************/
/* END OF MEDIA QUERIES SECTION */
/********************************/
