* {
  box-sizing: border-box; /* may not be useful --> Boostrap is supposed to take care of by default (border-box instead of content-box) */ 
  margin: 0;
  padding: 0;
}

html {
  --main-theme-color: #e5dac4;
  --header-bg-color: #69a1ea;
  --brand-name-color: #1513b2;
  --text-font-color: #000;
}

body {
  font-size: 16px;
  color: var(--text-font-color);
  font-family: "Oxygen", sans-serif;
}




/* ********** BEGINNING OF HEADER ********** */
#header-nav {
  background-color: var(--header-bg-color);
  border: 0;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 90px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: var(--brand-name-color);
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  top:0;
  bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus { /* pas de souligné sous nom resto */
  text-decoration: none;
}

#nav-list a {
  color: var(--brand-name-color);
  text-align: center;
  font-size: 1.5em;
}

#nav-list a:hover { 
  background: var(--main-theme-color);
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  /* stylisation du menu sandwich */
  border: 1px solid var(--main-theme-color);
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -55px;
}
/* *********************************** */





/* ************* BEGIN MAIN CONTENT ************* */
#menu-title {                                                /* Our menu */
  color: var(--brand-name-color);
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 20px;
}

h3 {                                                 /* sous titre sous Our Menu */
  color: var(--brand-name-color);
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 15px;
}

.tile-wrapper div {
  margin: 15px;
  text-align: justify;
  padding-bottom: 15px;
}

.tile-wrapper {
  background: var(--main-theme-color);
}


/* ********************************************** */





/* ******* MEDIA QUERIES ******* */
/*********************************/

/********** Large devices only **********/
@media (min-width: 1200px) {
}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Text size dans (collapsed) menu */
    font-size: 1.2em;
    color: var(--brand-name-color);
  }

  button.navbar-toggle.collapsed {
    border: 2px solid var(--brand-name-color);
  }

  .navbar-toggle .icon-bar {
    border: 1px solid var(--brand-name-color);
  }
}

/*********************************/
/*********************************/
